.main-content{
  display: flex;
}

.product-wrapper{
  flex: 1
}

#panel{
  width: 15.625rem; 
  height: 15.625rem;
  padding: 1rem; 
}

#panel div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#panel input[type="checkbox"] {
  margin-right: 0.5rem;
}

#price-in-cart {
  margin-right: 0.7rem;
}